body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../images/rawpixel-593598-unsplash.jpg);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
}
.loginbox{
    width: 340px;
    height: 580px;
    background-color:black;
    background: rgba(0,0,0,0.9);
    color:darkorange;
    top: 48%;
    left: 46%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 5px 10px 8px #888888;
    padding: 80px 70px;
}
h1{
    margin: 0;
    top: 20%;
    padding: 0px 15px 25px 20px;
    text-align: center;
    font-family: sans-serif;
    font-size: 30px;
    color: aqua;
}
.loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 20px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
    color: black
}
.loginbox input[type="text"], input[type="text"], input[type="email"], input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height 40px;
    color: white;
    font-size: 16px;
}
.loginbox input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background: #00ff00;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.loginbox input[type="submit"]:hover
{
    cursor: pointer;
    background: #66ff99;
    color: #000;
}
.loginbox a
{
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: darkgrey;
}
.loginbox a:hover
{
    color: aqua;
}