<html>
<head>
    <title>Sign-up Page
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/Register.css">

</head>
    <body>
        <div class="loginbox">
            <h1>Sign-Up</h1>
            <form method="POST" action="">
                <label for="inputFirstName">First Name</label>
                <input type="text" name="inputFirstName" id="inputFirstName" class="form-control" placeholder="First Name" required autofocus>
                <label for="inputLastName">Last Name</label>
                <input type="text" name="inputLastName" id="inputLastName" class="form-control" placeholder="Last Name" required autofocus>
                <label for="inputEmail">Email ID:</label>
                <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputPassword">Password</label>
                <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required autofocus>
                <label for="inputConfirmPassword">Confirm Password</label>
                <input type="password" name="inputConfirmPassword" id="inputConfirmPassword" class="form-control" placeholder="Confirm Password" required autofocus>
                <input type="submit" name="" id="btnSignUp" value="Sign-Up" onclick="popup()">
                <a href="/login">Already have an account?</a>
            </form>
        </div>
        <script src="../static/js/jquery-3.3.1.min.js"></script>
        <script src="../static/js/signUp.js"></script>
        <script>
            function popup() {
                alert("New User Created");
            }
        </script>
    </body>
</html>